<%- include("../partials/header") %>

<div class="ui main text container segment">
        <h1 class="ui huge header" style="text-align: center;">ADD NEW CLOTH</h1>
        <div class="ui form">
            <form class="ui form" action="/clothes" method="POST">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="cloth[name]" placeholder="Name">
                </div>
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="cloth[image]" placeholder="URL">
                </div>
                <div class="field">
                    <label>Price</label>
                    <input type="number" name="cloth[price]" min="0.01" step="0.01" placeholder="$Number">
                </div>
                <div class="field">
                    <label>Brand</label>
                    <input type="text" name="cloth[brand]" placeholder="Brand">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea name="cloth[description]"></textarea>
                </div>
                <div class="field">
                    <label>Size (cm)</label>
                    <input class="form-control" type="range" name="cloth[size]" min="1" max="500" value="150"
                            oninput="this.nextElementSibling.value = this.value">
                    <input type="number" min="1" max="500" value="150"
                            onkeyup="if(parseInt(this.value)>500){ this.value=500; return false; }"
                            oninput="this.previousElementSibling.value = this.value"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
                <input class="ui big black button" type="submit" value="ADD">
            </form>
            <a href="/clothes">&lt&ltGo Back</a>
        </div>
</div>

<%- include("../partials/footer") %> 